/*

  TODO: break this up!

*/

.App {
  text-align: center;
}

.App nav {
  height: 3em;
  display: flex;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 16px;
  background: linear-gradient( 0deg, #000, #333 );
  box-shadow: rgba(0,0,0,0.2) 0 1px 4px 0;
}

.App nav .nav-btn {
  width: 36px;
  height: 36px;
  margin-right: 16px;
  color: #fff;
  background: none;
  border: 0;
  border-radius: 36px;
  outline: 0;
  font-size: 22px;
  line-height: 1;
  cursor: pointer;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1) 25ms;
}

.App nav .nav-btn:hover {
  background: #555;
}

.App nav .nav-btn:before {
  content:'\2630';
}

.App nav form {
  position: absolute;
  right: 16px;
  z-index: 12;
}

.App aside {
  position: fixed;
  z-index: 99;
  background: rgba(0,0,0,0.3);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: opacity 400ms ease-in 100ms;
  opacity: 0;
  pointer-events: none;
}

.App aside.open {
  opacity: 1;
  pointer-events: auto;
}

.App aside ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.App aside ul {
  position: relative;
  width: 0;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background: #bbb;
  box-shadow: rgba(0,0,0,0.25) 2px 0 2px 0;
  transition: all 200ms linear 100ms;
}

.App aside.open ul {
  width: 33.333%;
}

.App footer {
  padding: 4px 16px;
  text-align: right;
  background: #333;
  color: #ccc;
  border-top:1px solid #000;
}

.App footer p {
  margin: 0;
}

.App .feed-sync-progressbar {
  position: relative;
  height: 0.25em;
  z-index: 1;
  margin-top: 3em;
  background: rgba(0,0,0,0.3);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.App .feed-sync-progressbar span {
  display: block;
  position: relative;
  width: 0%;
  height: 100%;
  background: linear-gradient( 0deg, #15158a, #4a66ec 50%, #15158a );
  opacity: 0.9;
}

.App .feed-sync-progressbar:hover {
  height: 0.75em;
}

#feed-wrapper, #feed-wrapper .feed-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

#feed-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

#feed-wrapper .feed-item {
  position: relative;
  flex: 0 0 80%;
  height: 5em;
  padding: 8px 16px 8px 75px;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 15px 50%;
  background-color: #e5e5e5;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: 0 0;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  overflow: hidden;

  display: flex;
  align-items: center;
}

#feed-wrapper .feed-item.big {
  height: 6em;
}

#feed-wrapper .feed-item:nth-child(odd) {
  background-color: #eee;
}

#feed-wrapper .feed-item:hover {
  height: 6em;
  font-size: 18px;
  background-color: #fff;
}

#feed-wrapper .feed-item.big:hover {
  height: 7em;
}

#feed-wrapper .feed-item p {
  margin: 4px 0;
  font-size: 14px;
  font-family: 'Open Sans', serif;
}

#feed-wrapper .feed-item a {
  color: #000;
  text-decoration: none;
  margin-right: 6px;
  font-family: 'Lato', serif;
}

#feed-wrapper .feed-item a:hover {
  color: #333;
  text-decoration: underline;
}

#feed-wrapper .feed-item .mark {
  background: yellow;
  font-weight: bold;
}

#feed-wrapper .feed-item small {
  position: absolute;
  right: 8px;
  bottom: 8px;
  opacity: 0.2;
  font-size: 12px;
  font-family: 'Montserrat', serif;
}

#feed-wrapper .feed-item:hover small {
  opacity: 0.5;
  font-size: 13px;
}

/* Start ReactCSSTransitionGroup Styles */

#feed-wrapper .feed-item.feed-item-appear, #feed-wrapper .feed-item.feed-item-appear-active {
  transition: none;
}

#feed-wrapper .feed-item.feed-item-appear, #feed-wrapper .feed-item.feed-item-enter {
  height: 0;
  opacity: 0;
}

#feed-wrapper .feed-item.feed-item-appear-active, #feed-wrapper .feed-item.feed-item-enter-active {
  opacity: 1;
  height: 5em;
}

#feed-wrapper .feed-item.feed-item-leave {
  opacity: 1;
  height: 5em;
}

#feed-wrapper .feed-item.feed-item-leave-active {
  height: 0;
  opacity: 0;
}

/* End ReactCSSTransitionGroup Styles */
